.root {
    -fx-background-color : linear-gradient(to bottom left, #008489, #99D1D3);
}

.button:hover, .image:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
.textField{
    -fx-text-fill: red;
}
.textField:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.1;
}
